@import "variables";
body {
  width: 100%;
  background-image: url(/images/bg-intro-mobile.png);

  // background-position: center;
  // background-size: cover;
  background-color: $background;
  font-family: "Poppins", sans-serif;
}
.intro {
  color: white;
  padding: 20px 20px;
  text-align: center;
  h1 {
    padding: 2px 50px;
  }
  p {
    padding: 2px 40px;
    color: white;
    font-size: 12px;
  }
}
.container {
  width: 100%;

  text-align: center;
  .btn {
    width: 280px;
    height: 70px;
    padding: 7px 40px;
    border-radius: 4px;
    background-color: $primary-button;
    border: none;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 3px 2px hsl(249, 10%, 26%);
    a {
      color: white;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-size: 13px;
    }

    span {
      color: hsl(246, 25%, 77%);
    }
  }
  .section {
    width: 280px;
    height: 380px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding-top: 25px;
    box-shadow: 0 4px 3px hsl(249, 6%, 45%);
    margin: 0 auto;

    div {
      position: relative;
      margin-bottom: 10px;
    }
    input {
      width: 240px;
      height: 32px;

      border-radius: 3px;
      padding-left: 8px;
      border: 1px solid rgb(200, 198, 198);
    }
    img {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 30px;
      top: 8px;
      display: none;
    }
    small {
      font-size: 9px;
      margin-left: 11em;
      color: red;
      visibility: hidden;
    }
    ::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 11px;
    }
    button {
      width: 250px;
      border-radius: 4px;
      height: 40px;
      background-color: $secondary-button;
      border: none;
      text-transform: uppercase;
      font-size: 11px;
      font-family: "Poppins", sans-serif;
      color: white;
      cursor: pointer;
     
    }
    button:hover{
      background-color: hsl(246, 25%, 77%);
    }
    p {
      font-size: 11px;
      padding: 2px 35px;
      color: hsl(246, 25%, 77%);
    }
    a {
      color: $background;
    }
  }
}
@media (min-width: 768px) {
  body {
    background-image: url(/images/bg-intro-desktop.png);
    main {
      display: flex;
      padding: 40px 60px;
      .intro {
        text-align: left;
        margin-top: 90px;
        min-width: 300px;
        h1 {
          font-size: 35px;
          padding: 0 50px;
        }
        p {
          padding: 0 50px;
          line-height: 25px;
          font-size: 14px;
          // min-width: 500px;
        }
      }
    }
    .container {
      margin-top: 30px;
      .btn {
        width: 400px;
        height: 40px;
      }
      .section {
        width: 400px;
        div {
          input {
            width: 350px;
          }
          small {
            margin-left: 22em;
          }
        }
        button {
          width: 360px;
        }
      }
    }
  }
}
@media (min-width: 400px) {
  .container {
    margin-top: 30px;
    .btn {
      width: 350px;
      height: 40px;
    }
    .section {
      width: 350px;
      div {
        input {
          width: 300px;
        }
        small {
          margin-left: 22em;
        }
      }
      button {
        width: 310px;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
